*{
  padding: 0;
  margin: 0;
}
.bg-color-white{  
  background-color: white;
}
.bg-color-lightgrey {
  background-color: #f6f8fa;
}
.maledetta-striscetta-grigia{
  border: none;
  background-color: #f6f8fa;
  height: 10px;
}
.main-logo {
  height: 60px;
}

.logo-position{
  margin-left: 50px;
}

.header-display-inline{
  display: inline;
  vertical-align: middle;
}

.toboolist-text-property{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.space-sx{
margin-left: 0px;
}

.vertical-space{
  margin-bottom: 40px;
}
.vertical-space2{
  margin-bottom: 100px;
}

.container{
  width: 60%;
  margin: 0 auto;
  padding: 20px 50px;
}


.button-section{
  font-size: 7px;
}

.button-color-blue{
  background-color:#4da8e5 ;
  color: white;
  font-weight: 100;
}
.button-color-white{
  background-color: white ;
  color: #d0d3d4;
}

.button-property{
  display: inline;
  padding: 7px 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(220, 216, 216);
  border-radius: 10%;
  margin-right: 5px;
}

.todo-group{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
}

.font-impegni{
  display: inline;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding-left: 7px;
}

.checkmark-yes{
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  height: 15px;
  width: 15px;
  font-size: 10px;
  color: rgb(2, 213, 2);
  border: 1px solid rgb(2, 213, 2);
  border-radius: 50%;
}
.checkmark-no{
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 15px;
  font-size: 10px;
  color: rgb(228, 16, 16);
  border: 1px solid rgb(228, 16, 16);
  border-radius: 50%;
}

.tag{
  display: inline;
  font-size: 8px;
  font-weight: 100;
  color: white;
  padding: 5px 10px;
  border-radius: 20% / 50%;
  margin-left: 10px;
}
.tag-color-blue{
  background-color: #4da8e5;
}
.tag-color-purple{
  background-color: #9c71df;
}
.tag-color-green{
  background-color: #65c0a8;
}
.tag-color-orange{
  background-color: #f4a038;
}
.tag-color-fucsia{
  background-color: #da5fa2;
}
.tag-color-salvia-green{
  background-color: #adc922;
}
.todo-elements-space{
  margin-bottom: 5px;
}

